{cover_enabled, true}.
{erl_opts, [warn_unused_vars]}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git"}, "master"},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos", "master"}}
]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.
