{cover_enabled, true}.
{erl_opts, [warn_unused_vars]}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git"}, {branch, "master"}}},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos", {tag, "v0.2.0"}}}
]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.
